langchain
langchain_openai
chromadb
pgvector
googlesearch-python
fastapi
google
boto3
PyPDF2
requests
gradio
spacy
html2text
streamlit
anthropic
asyncio
nest_asyncio
duckduckgo_search
google-api-python-client>=2.100.0
black==19.10b0